<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luyubo.hgshop.dao.BrandDao">
	<select id="findById" resultType="brand">
		select id,name,first_char firstChar from hg_brand 
		  where id=#{value}
	</select>
<!-- id;
	private String name;
	private String firstChar;
	private Integer deletedFlag;
 -->
 
 <!-- <select id="list" resultType="Brand">
 	select id,name,first_char firstChar,deleted_flag deleteFlag from hg_brand
 	<where>
 		deleted_flag=0
 		<if test="value!=null and value!=''">
 			and first_char like concat('%',#{value},'%')
 		</if>
 	</where>
 </select>
 
<update id="delete">
	update hg_brand set deleted_flag=1 where id=#{value}
</update>

<delete id="deleteBatch">
	update hg_brand set deleted_flag=1 where id in
	<foreach collection="array" open="(" close=")" separator="," item="id">
		#{id}
	</foreach>
</delete> -->
</mapper>